/* --- FIGURE CAPTION STYLING --- */
figcaption {
  color: #848884;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: justify;
}

/* --- HEADER STYLING --- */
h1, .title {
  font-weight: 900;
}


a {text-decoration:none;}


.quarto-toc-active .quarto-toc-text {
  font-weight: bold !important;
}